<link rel="stylesheet" href="/loginStyle.css">

<div id="container">
    <form action="/changePassword" method="post">
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Enter your old password"><br>
        <input type="password" name="newPassword" id = "newPassword" placeholder="Enter your new Password"><br>
        <button type="submit">Submit</button>
    </form>
</div>

    <%if (error!="") {%>
        <h3 id="error"><%= error %></h3>
    <%}%>

