<link rel="stylesheet" href="/loginStyle.css">
<div id="container">
    <form action="/forgotPassword" method="post">
        <input type="email" required placeholder="Enter your email" name ="email"><br>
        <button type="submit">Submit</button>
    </form>
</div>

<%if(error){%>
    <h3 id="error"><%=error%></h3>
<%}%>