<link rel="stylesheet" href="/loginStyle.css">
<div id="container">
    <form method="post" action= "/forgotPasswordPage" >
        <input type="password" name="newPassword" required placeholder="Enter your New Password"><br>
        <button type="submit">Submit</button>
    </form>
</div>

<% if(error.length>0) {%>
    <h5 id="error"><%=error%></h5>
<% } %>