body{
    margin: 0px;
    padding: 0px;
    background-color: #423f3f;
}

#container{
    background-color: black;
    color: white;
    width : 33%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
}

#container input , button , a{
    margin: 10px;
    padding: 5px;
}

a{
    color: blue;
}

button{
    background-color: rgb(194, 194, 51);
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 42);
}
#error{
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
}